* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif
}

.nav-section {
    padding: 0;
    display: flex;
    align-items: center;
    justify-content: space-around;
    border: 2px solid black;
    height: 3rem;
}




figure .logo {
    max-width: 7rem;
}

nav {
    border: 0;
}

nav .nav-list {
    display: flex;
    list-style: none;
}

/* 
nav .nav-list .nav-links {
    /* padding: 0 .5rem; */
/* } */





/* Underline From Center */
nav .nav-list .nav-links a {
    display: inline-block;
    vertical-align: middle;
    -webkit-transform: perspective(1px) translateZ(0);
    transform: perspective(1px) translateZ(0);
    /* box-shadow: 0 0 1px #F77031; */
    position: relative;
    overflow: hidden;
    text-decoration: none;
    color: #000;
    font-weight: bolder;
    padding: 1rem .7rem;
}

.nav-links a:before {
    content: "";
    position: absolute;
    z-index: -1;
    left: 51%;
    right: 51%;
    bottom: 0;
    background: #F77031;
    height: 5px;
    -webkit-transition-property: left, right;
    transition-property: left, right;
    -webkit-transition-duration: 0.3s;
    transition-duration: 0.3s;
    -webkit-transition-timing-function: ease-out;
    transition-timing-function: ease-out;
}

.nav-links a:hover:before,
.nav-links a:focus:before,
.nav-links a:active:before {
    left: 0;
    right: 0;
}

.get-started-btn {
    text-decoration: none;
    /* padding: 1rem; */

}

.get-started-btn {
    color: #fff;
    padding: 5px 10px;
    font-weight: bold;
    cursor: pointer;
    transition: all 0.2s ease;
    position: relative;
    outline: none;
    border-radius: 5px;
    z-index: 0;
    background: #fff;
    overflow: hidden;
    border: 2px solid #F77031;
    color: #F77031;
}

.get-started-btn:hover {
    color: #fff;
}

.get-started-btn:hover:after {
    width: 100%;
}

.get-started-btn:after {
    content: "";
    position: absolute;
    z-index: -1;
    transition: all 0.3s ease;
    left: 0;
    top: 0;
    width: 0;
    height: 100%;
    background: #F77031;
}

/* ham-burger  */

.ham-icon {
    right: 1rem;
    position: relative;
    /* border: 1px solid black; */
    display: flex;
    flex-direction: column;
    /* display: none; */
}

.ham-icon span {
    width: 22px;
    background-color: rgb(27, 24, 24);
    height: 4px;
    margin: 3px 4px;
    display: none;
}

.ham-icon:hover {
    cursor: pointer;
}

@media only screen and (max-width:800px) {
    .ham-icon {
        display: block;
        position: relative;
        background-color: white;
    }

    .ham-icon span {
        display: flex;

    }

    .nav-list {
        position: absolute;
        width: 100%;
        /* height: 100%; */
        top: 3rem;
        left: -100%;
        /* background: rgb(34, 34, 97); */
        background: #222222;
        justify-content: center;
        align-items: center;
        flex-direction: column;
        transition: all 0.5s;
    }


    .nav-links {
        /* margin: .5rem 0;
        display: block;
        color: white;
        border: 2px solid white; */
        text-align: center;
    }

    nav .nav-list .nav-links {
        width: 100%;
        text-align: center;
    }

    nav .nav-list .nav-links a {
        color: white;
        text-align: center;
        width: 100%;
        border-bottom: 2px solid white;
    }
}


/* hero section  */
.hero-section{
    display: flex;
    justify-content: space-around;
    background-color: #eeeeee;

}
.text-section {
display: flex;
justify-content: center;
flex-direction: column;
/* border : 2px solid black ;  */
max-width: 35vw;
}
.main-heading{
font-size: 3rem;
padding: 0 0 1rem 0;
}
.main-heading span{
    color: #F77031;
}
.text-section h3{
/* margin-top: 1rem; */
/* padding: 0rem 2rem 0 0; */
padding: 0 0 0 .5rem;
margin: 0;
line-height: 1.8rem;
}
.btn-section {
padding: 1rem;
display : flex; 
justify-content: space-between; 
align-items : center; 
width: 80%; 
}
  /* watch video hover effect  */
  /* Radial Out */
.watch-video-btn {
    position: relative;
    text-decoration: none;
    color: #333;
    padding: .5rem;
    margin: 0 .5rem;
    font-size: 1rem;
    display: inline-block;
    vertical-align: middle;
    -webkit-transform: perspective(1px) translateZ(0);
    transform: perspective(1px) translateZ(0);
    box-shadow: 0 0 1px rgba(0, 0, 0, 0);
    position: relative;
    overflow: hidden;
    background: #e1e1e1;
    -webkit-transition-property: color;
    transition-property: color;
    -webkit-transition-duration: 0.3s;
    transition-duration: 0.3s;
  }
  .watch-video-btn:before {
    content: "";
    position: absolute;
    z-index: -1;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background: #F77031;
    border-radius: 100%;
    -webkit-transform: scale(0);
    transform: scale(0);
    -webkit-transition-property: transform;
    transition-property: transform;
    -webkit-transition-duration: 0.3s;
    transition-duration: 0.3s;
    -webkit-transition-timing-function: ease-out;
    transition-timing-function: ease-out;
  }
  .watch-video-btn:hover, .watch-video-btn:focus, .watch-video-btn:active {
    color: white;
  }
  .watch-video-btn:hover:before, .watch-video-btn:focus:before, .watch-video-btn:active:before {
    -webkit-transform: scale(2);
    transform: scale(2);
  }
  .fa-play{
    margin: 0 .3rem;
  }












.main-gif-image{
    height: 80vh;
    /* width: 50%; */
   
}

@media only screen and (max-width:800px) {
.hero-section{
    flex-direction: column;
    align-items: center;
}
.text-section{
    margin-top: 2rem;
    max-width: 90%;
}
.main-gif-image{
    max-width: 100%;
    height: auto;
}
.btn-section{
    width: auto;
    justify-content: space-around;
    padding: 0;
}
}